[Unit]
Description=Git Repositories Server Daemon
Documentation=man:git-daemon(1)
Wants=dist-git.socket

[Service]
User=nobody
ExecStart=/usr/libexec/git-core/git-daemon --base-path=/srv/git/repositories --export-all --user-path=public_git --syslog --inetd --verbose
StandardInput=socket
