# default: off
# description: The git server offers access to git repositories
service git
{
        disable         = no
        type            = UNLISTED
        port            = {{ git_port }}
        socket_type     = stream
        wait            = no
        groups          = yes
        group           = {{ git_group }}
        user            = nobody
        server          = {{ git_server }}
        server_args     = {{ git_server_args }} --base-path={{ git_basepath }} --base-path-relaxed
        log_on_failure  += HOST
}
